{{>/layouts/header}}
	<section class="mainDivider info">
		<section class="mainLayoutWidth">
			<section class="banner_3d_1">
				<article class="box_1">
					<!--banner_3d-->
				</article>
			</section>
			<section class="searchWrapper">
				<section class="infoTitle">
					Gransen Item Search
				</section>
				<section class="searchFormWrapper">
					<form class="searchForm" onsubmit="return false;">
						<input type="text" name="keyword" class="keyword">
					</form>
				</section>
				<section class="subMessage">
					그랑센 상품을 찾으시려면<br>
					검색어를 입력하세요~<br>
					단어와 단어 사이에 공백을 사용하시면<br>
					AND 검색이 가능합니다.
				</section>
			</section>
			<section class="itemInfomation">
				<section class="infoTitle">
					Gransen Item Infomation
				</section>
				<section class="setTodate"></section>
				<section class="setItemLength"></section>
			</section>
			<section class="banner_img_1">
				<section>GRANSEN</section>
				<section class="subMessage">
					소중한 시간을 그랑센과 함께하세요
				</section>
			</section>
		</section>
	</section>
	<!-- 검색 hidden section 시작 -->
	<section class="mainDivider searchHiddenSection">
		<section class="mainLayoutWidth">
			<section class="listSearch">
				<section class="listTitle">
					Search or Category Items [<span class="itemSize"></span>]
				</section>
				<section class="itemList"></section>
			</section>
		</section>
	</section>
	<!-- 검색 hidden section 끝 -->
	
	<section class="mainDivider">
		<section class="mainLayoutWidth">
			<section class="listCategory">
				<section class="listTitle">
					Category Items [<span class="itemSize"></span>] <span><i class="fa-solid fa-arrow-up-right-from-square fa-fade" data-mode="category"></i></span>
				</section>
				<section class="itemList"></section>
			</section>
		</section>
	</section>
	<section class="mainDivider staticBanner_1">
		<section class="mainLayoutWidth">
			<article></article>
		</section>
	</section>
	<section class="mainDivider banner_3d_2Sec">
		<section class="mainLayoutWidth">
			<section class="banner_3d_2">
				<section class="box_2">
					<!--banner_3d-->
				</section>
			</section>
		</section>
	</section>
	<section class="mainDivider">
		<section class="mainLayoutWidth">
			<section class="listAll">
				<section class="listTitle">
					All Items [<span class="itemSize"></span>] <span><i class="fa-solid fa-arrow-up-right-from-square fa-fade" data-mode="all"></i></span>
				</section>
				<section class="itemList"></section>
			</section>
		</section>
	</section>
	<section class="mainDivider staticBanner_3">
		<section class="mainLayoutWidth">
			<article></article>
		</section>
	</section>
{{>/layouts/footer}}