{{>/layouts/header}}
	<section class="mainDivider info">
		<section class="mainLayoutWidth">
			<section class="banner_3d_1">
				<article class="box_1">
					<span style="--i:1;"><img src="/images/banner/banner_3d_1/gransen_0002.jpg"></span>
					<span style="--i:2;"><img src="/images/banner/banner_3d_1/gransen_0005.jpg"></span>
					<span style="--i:3;"><img src="/images/banner/banner_3d_1/gransen_0009.jpg"></span>
					<span style="--i:4;"><img src="/images/banner/banner_3d_1/gransen_0046.jpg"></span>
					<span style="--i:5;"><img src="/images/banner/banner_3d_1/gransen_0050.jpg"></span>
					<span style="--i:6;"><img src="/images/banner/banner_3d_1/gransen_0146.jpg"></span>
					<span style="--i:7;"><img src="/images/banner/banner_3d_1/gransen_0151.jpg"></span>
					<span style="--i:8;"><img src="/images/banner/banner_3d_1/gransen_0153.jpg"></span>
				</article>
			</section>
			<section class="searchWrapper">
				<section class="infoTitle">
					Gransen Item Search
				</section>
				<section class="searchFormWrapper">
					<form class="searchForm">
						<input type="text" name="keyword" class="keyword">
					</form>
				</section>
				<section class="subMessage">
					그랑센 상품을 찾으시려면<br>
					검색어를 입력하세요~<br>
					단어와 단어사이에 공백을 사용하시면<br>
					AND 검색이 가능합니다.
				</section>
			</section>
			<section class="itemInfomation">
				<section class="infoTitle">
					Gransen Item Infomation
				</section>
			</section>
			<section class="banner_img_1">

			</section>
		</section>
	</section>
	<section class="mainDivider">
		<section class="mainLayoutWidth">
		</section>
	</section>
{{>/layouts/footer}}