@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--background-body-color);
	color: var(--basic-text-color);
}

.offcanvas.offcanvas-start {
	width: 700px !important;
	border-right: var(--bs-offcanvas-border-width) solid var(--sub-border-color-hover);
}

.offcanvas {
	background-color: var(--background-side-color);
}

.offcanvas .offcanvas-header {
	background-color: var(--member-section-color);
}

.offcanvas.offcanvas-start .offcanvas-title {
	font-weight: bold;
	color: var(--basic-text-color);
}

.offcanvas.offcanvas-start .offcanvas-body>div {
	display: flex;
}

.offcanvas.offcanvas-start .offcanvas-body>div>section {
	height: 350px;
}

.offcanvas.offcanvas-start .offcanvas-body>div>section:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px;
	border: 1px solid var(--sub-border-color);
	border-radius: 10px;
}

.offcanvas.offcanvas-start .offcanvas-body>div>section:first-child img {
	width: 90%;
	border-radius: 10px;
}

.offcanvas.offcanvas-start .offcanvas-body>div>section:last-child {
	flex: 1;
	padding: 0 0 0 10px;
	color: var(--basic-text-color);
	font-size: 0.8rem;
}

.offcanvas.offcanvas-start .offcanvas-body>div>section:last-child>section {
	display: flex;
	padding: 5px 0;
	border-bottom: 1px solid var(--sub-border-color);
}

header {
	border-bottom: 1px solid var(--main-border-color);
}

header>section {
	display: flex;
	justify-content: center;
}

header nav {
	display: flex;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.mainLayoutWidth {
	display: flex;
	width: 1440px;
}

.mainDivider {
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: 1px dotted var(--main-border-color);
	;
}

.mainDivider:last-child {
	border-bottom: 0;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul>li {
	cursor: pointer;
}

nav ul>li:hover {
	color: var(--link-color_hover_1);
	text-decoration: underline;
}

.memberNav {
	display: flex;
	background-color: var(--member-section-color);
	color: var(--link-color_1);
}

.memberNav section.mainLayoutWidth>section:first-child,
.memberNav section.mainLayoutWidth>section:last-child {
	display: flex;
	width: 20%;
}

.memberNav section.mainLayoutWidth>section:first-child {
	justify-content: flex-start;
}

.memberNav section.mainLayoutWidth>section:last-child {
	justify-content: flex-end;
}

.memberNav section.mainLayoutWidth>section:last-child li:not(:last-child),
.memberNav section.mainLayoutWidth>section:first-child:not(:first-child) {
	padding: 0 5px;
}

.memberNav section.mainLayoutWidth>section:first-child+section {
	display: flex;
	justify-content: center;
	padding: 15px 0;
	flex: 1;
}

.mainNav {
	background-color: var(--background-side-color);
	border-top: 1px solid var(--sub-border-color);
	font-size: 0.9rem;
}

.mainNav>section>section,
.mainNav>section>section>nav>ul {
	width: 100%;
}

.mainNav>section>section>nav>ul {
	justify-content: space-between;
}

.mainNav>section>section>nav>ul>li {
	padding: 10px 0;
	position: relative;
}

.mainNav>section>section>nav>ul>li>article.subMenu {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 150px;
	border: 1px solid var(--sub-border-color);
	background-color: var(--background-side-color);
	border-radius: 10px;
	color: var(--basic-text-color);
	left: 50%;
	transform: translateX(-50%) translateY(20px);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
	transition: visibility 0.2s, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	z-index: 500;
}

.mainNav>section>section>nav>ul>li:hover .subMenu {
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(7px);
}

.mainNav>section>section>nav>ul>li>article.subMenu>ul {
	flex-direction: column;
}

.mainNav>section>section>nav>ul>li>article.subMenu>ul>li {
	border-bottom: 1px dotted var(--sub-border-color);
	font-size: 0.8rem;
	padding: 5px 0 5px 10px;
	border-radius: 10px 10px 0 0;
}

.mainNav>section>section>nav>ul>li>article.subMenu>ul>li:hover {
	background-color: var(--background-body-color);
}

.mainNav>section>section>nav>ul>li>article.subMenu>ul>li:last-child {
	border-bottom: 0;
	border-radius: 0 0 10px 10px;
}

main>section.mainDivider>section {
	margin: 30px 0;
}

.info .searchWrapper,
.info .itemInfomation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 300px;
	height: 100%;
	border: 1px solid var(--sub-border-color);
	border-radius: 10px;
	margin: 0 10px;
	background-color: var(--background-side-color);
}

.info .searchWrapper:hover,
.info .itemInfomation:hover,
.info .banner_img_1:hover {
	border: 1px solid var(--sub-border-color-hover);
}

.info .infoTitle {
	width: 100%;
	padding: 5px;
	text-align: center;
	background-color: var(--background-body-color);
	border-bottom: 1px solid var(--sub-border-color);
	border-radius: 10px 10px 0 0;
	font-family: 'Roboto', sans-serif;
}

.info .banner_img_1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	border: 1px solid var(--sub-border-color);
	border-radius: 10px;
	background-image: url(/images/banner/img/top_banner.jpg);
	background-position: center;
	background-size: cover;
	margin-left: 10px;
	padding-top: 20px;
	color: var(--sub-border-color);
}

.info .banner_img_1>section:first-child {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
}

.info .searchForm {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
}

.info .searchFormWrapper {
	width: 100%;
}

.info .searchForm input {
	all: unset;
	background-color: var(--input-basic-color);
	width: 80%;
	padding: 5px 10px;
	border-radius: 10px 10px 10px 10px;
}

.info .subMessage {
	display: flex;
	justify-content: center;
	border-top: 1px solid var(--sub-border-color);
	width: 80%;
	font-size: 0.8rem;
	padding: 10px 0;
	text-align: center;
}

.listCategory {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.listTitle {
	width: 100%;
	border-bottom: 1px solid var(--sub-border-color);
	text-align: center;
	padding-bottom: 20px;
}

.itemList {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 10px;
	font-size: 0.8rem;
}

.itemList>section {
	width: 200px;
	border: 1px solid var(--sub-border-color);
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
}

.itemList>section img {
	width: 100%;
	border-radius: 10px;
	filter: grayscale(100%);
	transition: filter 0.3s ease;
}

.itemList>section:hover img {
	filter: grayscale(0%);
	/* 이미지를 원래 색상으로 돌림 */
}

.itemList>section>article:not(:first-child) {
	padding-top: 5px;
	text-align: center;
}

.itemList>section>article:first-child+article {
	margin-top: 10px;
	border-top: 1px solid var(--sub-border-color);
}

.staticBanner article {
	width: 100%;
	height: 350px;
	background-image: url(/images/banner/img/banner_01.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

footer {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	border-top: 1px solid var(--main-border-color);
	background-color: var(--member-section-color);
	font-size: 0.8rem;
}

footer>section {
	display: flex;
}

footer>section>section {
	margin: 0 20px;
}

footer>section>section>section:first-child {
	border-bottom: 1px solid var(--main-border-color);
	margin-bottom: 10px;
}

footer>section>section>section>article {
	padding-bottom: 5px;
}

footer a {
	color: var(--basic-text-color);
}

footer a:hover {
	color: var(--link-color_hover_1);
}