@charset "UTF-8";
:root{
	--background-body-color:#1a1a1a;
	--main-border-color:#333333;
	--member-section-color:#000000;
	--background-side-color:#1e1e1e;
	--sub-border-color:#2c2c2c;
	--sub-border-color-hover:#494949;
	--link-color_1:#a2a2a2;
	--link-color_hover_1 : #efefef;
	--basic-text-color:#858585;
	--input-basic-color:#111111;
	--banner-in-text-color:#ffffff;
	--event-color:#e42221;
}