{{>/layouts/header}}
<section class="mainDivider staticBanner staticBannerLogin">
	<section class="mainLayoutWidth">
		<article>
			<p>로그인</p>
			<p>회원사는 로그인 하시기 바랍니다.</p>
			<p>비회원사는 회원가입을 하신 후 이용바랍니다.</p>
			<p><a href="/join">회원가입</a></p>
		</article>
	</section>
</section>
<section class="mainDivider">
	<section class="mainLayoutWidth memberWrapper">
		<form name="joinForm" class="joinForm">

			
		</form>
	</section>
</section>
{{>/layouts/footer}}